
#pie{
    display: flex;

    border-radius: 25px;
    color:rgb(255, 253, 253);
    background-color:#332712;
   background: linear-gradient(#332712, #dfcba8);
    margin-top:92px
    
    }
   
   .celdasizuierda{
    color: aliceblue;
    
    float:left;
    margin: 50px;
    box-shadow: 0 0 0 3px #f1cc8d11,
    0 0 50px #d4d2cd,
    0 0 100px #f1cc8d83;
    animation: animate 15s linear infinite;
    border-radius: 15px;
   }
   @keyframes animate{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    30% {
        transform: translateX(-5%)  translateZ(0) scaleY(1);
    }
    100% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
   }
   
   .celdasderecha{ 
    float:left;
    color: bisque;
    background-color: #684d1d15;
   margin: 60px;
   padding: 40px;
   border-color: rgba(240, 255, 255, 0.555);
   border-radius: 15%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
   }
   .celdasinfo{
    float:left;
    color: rgb(0, 0, 0);
    background-color: #f8c16200;
   margin: 60px;
   border-radius: 23%;
   padding: 30px;
   }
